* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f8ff;
    color: #333;
}
header {
    background-color: #1e40af;
    padding: 15px 0;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.hero {
    background: linear-gradient(135deg, #3b82f6, #1e40af);
    text-align: center;
    padding: 70px 20px;
    color: white;
}

.hero h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.hero p {
    margin-top: 10px;
    font-size: 18px;
}

.btn {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 25px;
    background-color: white;
    color: #1e40af;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

