@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root{
    --primary-color:#12acBe;
    --primary-color-dark:#0d846c;
    --primary-color-light:#e9f7f7;
    --secondary-color:#fb923c;
    --text-dark:#333333;
    --text-light:#767268;
    --white:#ffffff;
    --max-width:1200px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section__container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header{
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.btn{
    padding: .75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

header{
    background-image: linear-gradient(
        to right,
        rgba(18, 172, 142, .9),
        rgba(18, 172,142,.7)
    ),
    url("assets/header.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

.nav__container{
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
}
.nav__logo span{
    color: var(--secondary-color);
}
.nav__links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}

.link a{
    padding: .5rem;
    color: var(--primary-color-light);
}

.link a:hover{
    color: var(--white);
}

